@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opactity 1000ms ease-in;
}

body {
    font-family: 'PT Serif', serif;
}